<!DOCTYPE html>
<html>

<head>
  <title>
    <%=typeof title == 'undefined' ? 'New Sails App' : title%>
  </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->


<!--STYLES-->
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" href="/styles/bootstrapTheme.min.css">
<link rel="stylesheet" href="/styles/datepicker.min.css">
<link rel="stylesheet" href="/styles/font-awesome.min.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/me.css">
<link rel="stylesheet" href="/styles/metisMenu.min.css">
<link rel="stylesheet" href="/styles/morris.css">
<link rel="stylesheet" href="/styles/sb-admin-2.min.css">
<link rel="stylesheet" href="/styles/sweetalert2.min.css">
<!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/sb-admin-2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/codigo.js"></script>
    <script src="/js/datepicker.min.js"></script>
    <script src="/js/datepickera.es.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
    <!--SCRIPTS END-->

</head>

<body>
  <%- body %>


</body>

</html>